#tip{
	/* Display: */
	max-width: 50vw;
	padding: 5px 10px;
	
	position: absolute;
	bottom: 7vh;
	
	font-size: 0.75em;
	
	cursor: default;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
	/* Multilines: */
	word-break: break-all;
	text-align: left;

	/* Basic styling: */
	border-radius: 2px;
	color: black;
	background-color: white;
}

#tip.killed{
	display: none;
}
